<template>
  <div class="container" style="background: white">
    <h1>Usuario</h1>
    <div v-bind:style="{ width:'100%', padding: '1%'}">
        <b-alert
            :show="dismissCountDown"
            dismissible
            :variant="mensaje.color"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
        >
            {{mensaje.texto}} {{mensaje.errorNom}} {{mensaje.errorEma}} {{mensaje.errorPass}}
        </b-alert>
    </div>
    <div v-bind:style="{ width:'100%', padding: '1%'}" v-if="alerta2">
        <b-alert
            :show="dismissCountDown"
            dismissible
            :variant="mensaje.color"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
        >
            {{validarNombre.if1}} {{validarNombre.if2}}
        </b-alert>
    </div>
    <div v-bind:style="{width:'100%'}">
        <div v-bind:style="{   margin: 'auto',
                width: '50%',
                padding: '10px'}">
            <form @submit.prevent="editarUsuario(usuarioEditar)" v-if="editar"> <!-- @submit.prevent="editarUsuario(usuarioEditar)" -->
                <h3>Editar usuario</h3>
                <input type="text" class="form-control my-2" placeholder="Nombre" v-model="usuarioEditar.nombre">
                <input type="text" class="form-control my-2" placeholder="Email" v-model="usuarioEditar.email">
                <input type="text" class="form-control my-2" placeholder="Contraseña" v-model="usuarioEditar.password">
                <select class="form-control my-2" v-model="usuarioEditar.estado">
                    <option disabled value="">Seleccione un estado</option>
                    <option value="true" >Activo</option>
                    <option value="false" >Inactivo</option>
                </select>
                <select class="form-control my-2" v-model="usuarioEditar.role">
                    <option disabled value="">Seleccione un rol</option>
                    <option value="USER_ROLE" >Usuario</option>
                    <option value="ADMIN_ROLE" >Administrador</option>
                </select>

                <b-button class="btn-success my-2 mx-2" type="submit">Editar</b-button>
                <b-button class="btn-warning my-2" @click="desactivarEdicion()">Cancelar</b-button>
            </form>

            <form v-if="!editar"> <!-- @submit.prevent="editarUsuario(usuarioEditar)" -->
                <h3>Agregar usuario</h3>
                <input type="text" class="form-control my-2" placeholder="Nombre" v-model="usuario.nombre">
                <input type="text" class="form-control my-2" placeholder="Email" v-model="usuario.email">
                <input type="text" class="form-control my-2" placeholder="Contraseña" v-model="usuario.password">
                <select class="form-control my-2" v-model="usuario.estado">
                    <option disabled value="">Seleccione un estado</option>
                    <option value="true" >Activo</option>
                    <option value="false" >Inactivo</option>
                </select>
                <select class="form-control my-2" v-model="usuario.role">
                    <option disabled value="">Seleccione un rol</option>
                    <option value="USER_ROLE" >Usuario</option>
                    <option value="ADMIN_ROLE" >Administrador</option>
                </select>

                <b-button class="btn-success my-2" @click="agregarUsuario()">Agregar</b-button> <!-- type="submit" -->
            </form>
        </div>

        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in usuarios" :key="index">
                        <th scope="row">{{index + 1}}</th>
                        <td>{{item.nombre}}</td>
                        <td>{{item.email}}</td>
                        <td v-if="item.estado == true">Activo</td><td v-else>Inactivo</td>
                        <td v-if="item.role == 'USER_ROLE'">Usuario</td> <td v-else>Administrador</td>
                        <td>
                            <!-- <b-button @click="alerta()">Accion</b-button> -->
                            <b-button @click="eliminarUsuario(item._id)" class="btn-danger btn-sm mx-2">Eliminar</b-button>
                            <b-button @click="activarEdicion(item._id)" class="btn-info btn-sm">Editar</b-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</template>

<script>

const expRegNombre=/^[a-zA-ZÑñÁáÉéÍíÓóÚúÜü\s]+$/;
const expRegCorreo=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

export default {
    props: {
        id: String
    },
    data() {
        return {
            usuarios: [],
            usuario:{nombre:'', email:'', password:'', role:'USER_ROLE', estado:'true'},
            mensaje: {color: '', texto: '', errorNom: '', errorEma: '', errorPass: ''},
            dismissSecs: 7,
            dismissCountDown: 0,
            editar: false,
            alerta2: true,
            usuarioEditar:{},
            validarNombre: { if1:'', if2:''},
        };
    },
    mounted : function() {
        //console.log(this.$refs["“myid"])
    },
    created(){
        this.listarUsuarios();
    },
    methods:{
        alerta(){
            this.mensaje.color = 'success'
            this.mensaje.texto = 'Probando alerta Gaaa'
            this.showAlert();
        },
        agregarUsuario(){
            const validarNombre = () =>{
                if(this.usuario.nombre != "" || this.usuario.nombre.length != 0){
                    console.log("IFFFFFFFFFFFF Validar Nombre 1")
                    if(expRegNombre.test(this.usuario.nombre)){
                        console.log("IFFFFFFFFFFFF Validar Nombre 2")
                        return false
                    }else{
                        this.validarNombre.if2 = "El nombre no es valido, omita números";
                        this.validarNombre.if1 = "";
                        return true
                    }
                }else{
                    this.validarNombre.if1 = "No puede dejar el nombre vacio";
                    return true
                }
            }

            const validarEmail = () =>{
                if(this.usuario.email != "" || this.usuario.email.length != 0){
                    console.log("IFFFFFFFFFFFF Validar Correo 1")
                    if(expRegCorreo.test(this.usuario.email)){
                        console.log("IFFFFFFFFFFFF Validar Correo 2")
                        return false
                    }else{
                        this.validarNombre.if2 = "El email no es valido";
                        this.validarNombre.if1 = "";
                        return true
                    }
                }else{
                    this.validarNombre.if1 = "No puede dejar el email vacio";
                    return true
                }
            }

            const validarPassword = () =>{
                if(this.usuario.password != "" || this.usuario.password.length != 0){
                    if(this.usuario.password.length >= 8){
                        return false
                    }else {
                        this.validarNombre.if2 = "La contraseña debe tener minimo 8 caracteres";
                        this.validarNombre.if1 = "";
                        return true
                    }
                } else{
                    this.validarNombre.if1 = "No puede dejar la contraseña vacia";
                    return true
                }
            }

            if(validarNombre()){
                this.mensaje.errorPass = '';
                this.mensaje.errorEma = '';
                this.mensaje.errorNom = 'Ohh! Ocurrio un problema con el nombre';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.alerta2 = true;
                this.showAlert();
            } else if(validarEmail()){
                this.mensaje.errorPass = '';
                this.mensaje.errorEma = 'Ohh! Ocurrio un problema con el email';
                this.mensaje.errorNom = '';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.alerta2 = true;
                this.showAlert();
            } else if(validarPassword()){
                this.mensaje.errorPass = 'Ohh! Ocurrio un problema con la contraseña';
                this.mensaje.errorEma = '';
                this.mensaje.errorNom = '';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.alerta2 = true;
                this.showAlert();
            } else {
                this.axios.post('usuario', this.usuario)
                .then(res => {
                    console.log("Exito agragar usuarios")
                    // Agrega al inicio de nuestro array notas
                    this.usuarios.unshift(res.data.usuario);

                    // Alerta de mensaje
                    this.usuario.nombre = '';
                    this.usuario.email = '';
                    this.usuario.password = '';
                    this.usuario.role = '';
                    this.mensaje.color = 'success';
                    this.mensaje.texto = 'Usuario agregado con exito';
                    this.mensaje.errorPass = '';
                    this.mensaje.errorEma = '';
                    this.mensaje.errorNom = '';
                    this.alerta2 = false;
                    this.showAlert();
                })
                .catch(e => {
                    console.log(e.response);
                    console.log("Error agragar usuarios")
                    if(e.response.data.err.errors.nombre){
                        this.mensaje.errorNom = e.response.data.err.errors.nombre.properties.message;
                        console.log("Error con el campo nombre")
                        this.mensaje.texto = '';
                        this.mensaje.color = 'danger';
                    } else if(e.response.data.err.errors.email){
                        this.mensaje.errorEma = e.response.data.err.errors.email.properties.message;
                        this.mensaje.errorNom = '';
                        console.log("Error con el campo email")
                        this.mensaje.texto = '';
                        this.mensaje.color = 'danger';
                    } else if(e.response.data.err.errors.password) {
                        this.mensaje.errorPass = e.response.data.err.errors.password.properties.message;
                        this.mensaje.errorEma = '';
                        this.mensaje.errorNom = '';
                        this.mensaje.texto = '';
                        console.log("Error con el campo contraseña")
                        this.mensaje.color = 'danger';
                    }
                    this.showAlert();
                    //this.mensaje.texto = 'Oh Ha ocurrido un problema';
                })
            }
        },
        listarUsuarios(){
            this.axios.get('usuario')
                .then(res => {
                    console.log("Exito listar usuarios")
                    console.log(res.data);
                    this.usuarios = res.data.usuario;
                })
                .catch(e => {
                    console.log("Error listar usuarios")
                    console.log(e.response);
                })
        },
        eliminarUsuario(id){
            console.log(id);
            this.axios.delete(`/usuario/${id}`)
                .then(res => {
                    console.log("Exito eliminar usuario")
                    const index = this.usuarios.findIndex(item => item._id === res.data.usuario._id)
                    this.usuarios.splice(index, 1);
                    this.mensaje.errorPass = '';
                    this.mensaje.errorEma = '';
                    this.mensaje.errorNom = '';
                    this.mensaje.texto = 'Usuario eliminado!'
                    this.mensaje.color = 'danger'
                    this.alerta2 = false;
                    this.showAlert();
                })
                .catch(e => {
                    console.log("Error eliminar usuario")
                    this.alerta2 = false;
                    console.log(e.responde);
                })
        },
        activarEdicion(id){
            this.editar = true;
            this.alerta2 = true;
            console.log("Activando edicion usuario")
            this.axios.get(`/usuario/${id}`)
                .then(res => {
                    this.usuarioEditar = res.data.usuario;
                })
                .catch( e => {
                    console.log(e.response);
                })
        },
        desactivarEdicion(id){
            console.log("Desactivando edicion usuarios")
            this.editar = false;
            this.mensaje.errorPass = '';
            this.mensaje.errorEma = '';
            this.mensaje.errorNom = '';
            this.mensaje.texto = 'Usuario no se ha editado';
            this.mensaje.color = 'warning';
            this.alerta2 = false;
            this.showAlert();
        },
        editarUsuario(item){
            console.log("IFFFFFFFFFFFF Validar Nombre 1")
            console.log(item.nombre)
            const validarNombre = () =>{
                if(expRegNombre.test(item.nombre)){
                    console.log("IFFFFFFFFFFFF Validar Nombre 1")
                    if(item.nombre != "" || !item.nombre.length != 0){
                        console.log("IFFFFFFFFFFFF Validar Nombre 2")
                        return false
                    }else{
                        return true
                    }
                }else{
                    return true
                }
            }
            /*const validarNombre = () =>{
                if(this.usuario.nombre != "" || this.usuario.nombre.length != 0){
                    console.log("IFFFFFFFFFFFF Validar Nombre 1")
                    if(expRegNombre.test(this.usuario.nombre)){
                        console.log("IFFFFFFFFFFFF Validar Nombre 2")
                        return false
                    }else{
                        this.validarNombre.if2 = "El nombre no es valido, omita números";
                        this.validarNombre.if1 = "";
                        return true
                    }
                }else{
                    this.validarNombre.if1 = "No puede dejar el nombre vacio";
                    return true
                }
            }*/

            const validarEmail = () =>{
                if(expRegCorreo.test(item.email)){
                    console.log("IFFFFFFFFFFFF Validar Correo 1")
                    if(item.email != "" || item.email.length != 0){
                        console.log("IFFFFFFFFFFFF Validar Correo 2")
                        return false
                    }else{
                        return true
                    }
                }else{
                    return true
                }
            }

            const validarPassword = () =>{
                if(item.password != "" || item.password.length != 0){
                    if(item.password.length > 5){
                        return false
                    }else {
                        return true
                    }
                } else{
                    return true
                }
            }

            if(validarNombre()){
                this.mensaje.errorPass = '';
                this.mensaje.errorEma = '';
                this.mensaje.errorNom = 'Ohh! Ocurrio un problema con el nombre';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.showAlert();
            } else if(validarEmail()){
                this.mensaje.errorPass = '';
                this.mensaje.errorEma = 'Ohh! Ocurrio un problema con el email';
                this.mensaje.errorNom = '';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.showAlert();
            } else if(validarPassword()){
                this.mensaje.errorPass = 'Ohh! Ocurrio un problema con la contraseña';
                this.mensaje.errorEma = '';
                this.mensaje.errorNom = '';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.showAlert();
            } else {
                this.axios.put(`/usuario/${item._id}`, item)
                    .then(res => {
                        console.log("Exito edicion usuarios")
                        const index = this.usuarios.findIndex(u => u._id === res.data.usuario._id)
                        this.usuarios[index].nombre = res.data.usuario.nombre;
                        this.usuarios[index].email = res.data.usuario.email;
                        this.usuarios[index].password = res.data.usuario.password;
                        this.usuarios[index].role = res.data.usuario.role;
                        this.usuarios[index].estado = res.data.usuario.estado;
                        this.usuarioEditar = {}

                        this.mensaje.color = 'success';
                        this.mensaje.texto = 'Usuario editado con exito';
                        this.mensaje.errorPass = '';
                        this.mensaje.errorEma = '';
                        this.mensaje.errorNom = '';
                        this.alerta2 = false;
                        this.showAlert();
                    })
                    .catch(e => {
                            console.log("Error edicion usuarios")
                            console.log(e.response)
                            this.alerta2 = true;
                            this.showAlert();
                        })
                    this.editar = false;
            }
        },
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown
        },
        showAlert() {
            this.dismissCountDown = this.dismissSecs
        }
    },
}
</script>